<a class="btn btn-sm btn-default edit_link" dataid="{{ admin.id(object) }}" data-action="remove"  href="javascript:void(0)" id="remove_user_ticket_{{ admin.id(object) }}">
    <i class="fa fa-times"></i>
     Remove Ticket
</a>