<a class="btn btn-sm btn-default edit_link" dataid="{{ admin.id(object) }}" data-action="add" href="javascript:void(0)" id="add_user_ticket_{{ admin.id(object) }}">
    <i class="fa fa-plus"></i>
     Add Ticket
</a>