{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}


{% block table_body %}
    {{ parent() }}
    {% set classNameArray = admin.class |split("\\") %}
    {% set classname = classNameArray[classNameArray|length - 1] %}
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true" id="ticketModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Add tickets to user</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div id="success" class="alert alert-success" role="alert" style="display: none;"><i class="fa fa-thumbs-up"></i> Tickets added Successfully</div>
                        <div id="failure" class="alert alert-danger" role="alert" style="display: none;"><i class="fa fa-thumbs-down"></i> Adding tickets failed. Please try later.</div>

                        <form name="user_add_tickets_form" id="user_add_tickets_form">
                            <div class="form-group" id="add_new_tickets">
                                <label for="recipient-name" class="control-label">Tickets to Add:</label>
                                <input type="text" name="add_tickets" class="form-control" id="add_tickets_number" />
                                <input type="hidden" name="add_tickets_user" id="add_ticket_userId" value="" />
                            </div>
                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-default" id="add_tickets_button" onclick="addTicketToUser()"  name="add_tickets_buttons" data-class="{{ classname }}" value="Add Tickets" />
                    {#<button type="button" class="btn btn-primary" id="apply"  data-class="{{ classname }}" onclick="contactListing.batchSave()">Import</button>#}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true" id="removeTicketModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Remove tickets from user</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div id="remove_success" class="alert alert-success" role="alert" style="display: none;"><i class="fa fa-thumbs-up"></i> Tickets removed Successfully</div>
                        <div id="remove_failure" class="alert alert-danger" role="alert" style="display: none;"><i class="fa fa-thumbs-down"></i> Removing tickets failed. Please try later.</div>

                        <div id="remove_noticket_failure" class="alert alert-danger" role="alert" style="display: none;"><i class="fa fa-thumbs-down"></i> No Ticket history found for the user.</div>

                        <form name="user_remove_tickets_form" id="user_remove_tickets_form">
                            <div class="form-group" id="add_new_tickets">
                                <label for="recipient-name" class="control-label">Tickets to Remove:</label>
                                <input type="text" name="remove_tickets" class="form-control" id="remove_tickets_number" />
                                <input type="hidden" name="remove_tickets_user" id="remove_ticket_userId" value="" />
                            </div>
                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-default" id="remove_tickets_button" onclick="removeTicketFromUser()"  name="remove_tickets_buttons" data-class="{{ classname }}" value="Remove Tickets" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}