{% extends 'layout.html.twig' %}

{% block body %}
<section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-after-navbar" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="true" data-interval="7000" id="slider-5">
    <div>
        <div>
            <div>
                <ol class="carousel-indicators">
                    <li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="0" class="active"></li>
                    <li data-app-prevent-settings="" data-target="#slider-5" class="" data-slide-to="1"></li>
                    <li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url({{ asset('build/images/man-back.jpg') }});">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
                            <div class="container-slide container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-3 text-xs-right">
                                        <h2 class="mbr-section-title display-1">JBL HEADPHONES - Rs 3,450</h2>
                                        <p class="mbr-section-lead lead">Latest headphones for free</p>
                                        <div class="row">
                                            <div class="col-xs-5">
                                            </div>
                                            <div class="col-xs-7">
                                                <div id="slide2" class="barfiller barfiller-slider">
                                                    <div class="tipWrap">
                                                        <span class="tip"></span>
                                                    </div>
                                                    <span class="fill" data-percentage="30"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mbr-section-btn"><a class="btn btn-lg btn-success" href="#" target="_blank">WIN NOW</a> <a class="btn btn-lg btn-white btn-white-outline" href="#" target="_blank">COLLECT COINS</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url({{ asset('build/images/sparklers.jpg') }});">
                        <div class="mbr-table-cell">
                            <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
                            <div class="container-slide container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-3 text-xs-right">
                                        <h2 class="mbr-section-title display-1">MI Band 2 - Rs 2,000</h2>
                                        <p class="mbr-section-lead lead">Keep Fit for Free</p>
                                        <div class="row">
                                            <div class="col-xs-5">
                                            </div>
                                            <div class="col-xs-7">
                                                <div id="slide3" class="barfiller barfiller-slider">
                                                    <div class="tipWrap">
                                                        <span class="tip"></span>
                                                    </div>
                                                    <span class="fill" data-percentage="89"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mbr-section-btn"><a class="btn btn-lg btn-info" href="#" target="_blank">WIN NOW</a> <a class="btn btn-lg btn-white btn-white-outline" href="#">COLLECT COINS</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-5"> <span class="icon-prev" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-5"> <span class="icon-next" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
            </div>
        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-7" style="               background-color: rgb(255, 255, 255);">
    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/amazon.png') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">AMAZON GIFTV COUPON - 1000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar1" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="75"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://test.com" class="btn btn-black" target="_blank">WIN NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/band-2.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">DRONE - 20,000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar2" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="25"></span>
                        </div>
                        <div class="card-btn">
                            <!--                                <a href="https://flipkoins.com" class="btn btn-success">MORE</a> -->
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/jbl.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Philips head phones - 1050 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar3" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="95"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/amazon.png') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Another Item - 2000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar4" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="75"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/band-2.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">AMAZON GIFTV COUPON - 1000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar5" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="75"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://test.com" class="btn btn-black" target="_blank">WIN NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/jbl.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">DRONE - 20,000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar6" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="25"></span>
                        </div>
                        <div class="card-btn">
                            <!--                                <a href="https://flipkoins.com" class="btn btn-success">MORE</a> -->
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/amazon.png') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Philips head phones - 1050 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar7" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="95"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/band-2.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Another Item - 2000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar8" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="75"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/jbl.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">AMAZON GIFTV COUPON - 1000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar9" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="75"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://test.com" class="btn btn-black" target="_blank">WIN NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/band-2.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">DRONE - 20,000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar10" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="25"></span>
                        </div>
                        <div class="card-btn">
                            <!--                                <a href="https://flipkoins.com" class="btn btn-success">MORE</a> -->
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/amazon.png') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Philips head phones - 1050 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar11" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="95"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/jbl.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Another Item - 2000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar12" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="75"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/amazon.png') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">AMAZON GIFTV COUPON - 1000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar13" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="75"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://test.com" class="btn btn-black" target="_blank">WIN NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/band-2.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">DRONE - 20,000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar14" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="25"></span>
                        </div>
                        <div class="card-btn">
                            <!--                                <a href="https://flipkoins.com" class="btn btn-success">MORE</a> -->
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/jbl.jpg') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Philips head phones - 1050 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar15" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="95"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-sm-6 col-lg-3">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="{{ asset('build/images/amazon.png') }}" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">Another Item - 2000 RS</h4>
                        <h5 class="card-subtitle">DESCRIPTION</h5>
                        <!--                            <p class="card-text">either desc or progress bar</p>-->
                        <div id="bar16" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="75"></span>
                        </div>
                        <div class="card-btn">
                            <a href="https://flipkoins.com" class="btn btn-black">WIN NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section-md-padding mbr-parallax-background" id="social-buttons2-a" style="background-image: url({{ asset('build/images/mbr-2000x1500.jpg') }}); padding-top: 120px; padding-bottom: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">FOLLOW US</h3>
                <div><a class="btn btn-social" title="Twitter" target="_blank" href="https://twitter.com/flipkoins"><i class="socicon socicon-twitter"></i></a> <a class="btn btn-social" title="Facebook" target="_blank" href="https://www.facebook.com/pages/flipkoins/1616226671953247"><i class="socicon socicon-facebook"></i></a> <a class="btn btn-social" title="Google+" target="_blank" href="https://plus.google.com/u/0/+flipkoins/posts"><i class="socicon socicon-googleplus"></i></a> <a class="btn btn-social" title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/flipkoins"><i class="socicon socicon-linkedin"></i></a> </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section" id="testimonials2-c" style="background-color: rgb(239, 239, 239); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">WHAT OUR FANTASTIC WINNERS SAY</h3> <small class="mbr-section-subtitle">Shape your future web project with sharp design and refine coded functions.</small> </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block">
                            <p>“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p>
                        </div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="{{ asset('build/images/face3.jpg') }}" class="img-circle"></div>
                            <div class="mbr-author-name">Abanoub S.</div> <small class="mbr-author-desc">User</small> </div>
                    </div>
                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block">
                            <p>“First of all hands off to you guys for your effort and nice, super tool. Good work flipkoins team. We are expecting the new version soon with advance functionality with full bootstrap design. Great effort and super UI experience with easy drag &amp; drop with no time design bootstrap builder in present web design world.”</p>
                        </div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="{{ asset('build/images/face1.jpg') }}" class="img-circle"></div>
                            <div class="mbr-author-name">Suffian A.</div> <small class="mbr-author-desc">User</small> </div>
                    </div>
                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block">
                            <p>“At first view, looks like a nice innovative tool, i like the great focus and time that was given to the responsive design, i also like the simple and clear drag and drop features. Give me more control over the object's properties and ill be using this tool for more serious projects. Regards.”</p>
                        </div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="{{ asset('build/images/face1.jpg') }}" class="img-circle"></div>
                            <div class="mbr-author-name">Jhollman C.</div> <small class="mbr-author-desc">User</small> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-parallax-background" id="form2-8" style="background-image: url({{ asset('build/images/mbr-1-2000x1333.jpg') }}); padding-top: 120px; padding-bottom: 120px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">SUBSCRIBE TO GET NEW CONTEST ALERTS</h3></div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">
                    <div data-form-alert="true">
                        <div hidden="" data-form-alert-success="true">Thanks for filling out form!</div>
                    </div>
                    <form class="mbr-form" action="https://flipkoins.com/" method="post" data-form-title="SUBSCRIBE TO GET NEW CONTEST ALERTS">
                        <input type="hidden" value="L24vXwMcK3ldeYsP8jip2pYEd964n3uwMBEHIc6XbR5D6TP5H+0XTlDoRPZdJ4ebguWoXKpZ1NOn9rHwT0hVSOS196u2xnQ88zzeqpnGwfs76I6VQJOodeU7k6WENaVw" data-form-email="true">
                        <div class="mbr-subscribe mbr-subscribe-dark input-group">
                            <input type="email" class="form-control" name="email" required="" data-form-field="Email" placeholder="Enter Your Email Address..." id="form2-8-email"> <span class="input-group-btn"><button type="submit" class="btn btn-primary">SUBSCRIBE</button></span> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}