.barfiller {
    width: 80%;
    height: 22px;
    background: #fcfcfc;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    position: relative;
    box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, .5);
}

.barfiller.barfiller-slider {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-left: 0px;
    margin-bottom:30px;
}

.barfiller.barfiller-slider .fill {
    border-radius: 5px;
}

.barfiller .fill {
    display: block;
    position: relative;
    width: 0px;
    height: 100%;
    background: #333;
    z-index: 1;
}

.barfiller .tipWrap {
    display: none;
}

.barfiller .tip {
    margin-top: -30px;
    padding: 2px 4px;
    font-size: 11px;
    color: #fff;
    left: 0px;
    position: absolute;
    z-index: 2;
    background: #333;
}

.barfiller .tip:after {
    border: solid;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 6px 6px 0 6px;
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    top: 100%;
    z-index: 9
}