<section class="mbr-footer mbr-section mbr-section-md-padding" id="contacts3-9" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">
    <div class="row">
        <div class="mbr-company col-xs-12 col-md-6 col-lg-3">
            <div class="mbr-company card">
                <div><img src="{{ asset('build/images/logo.png') }}" class="card-img-top"></div>
                <div class="card-block">
                    <p class="card-text">Footer with solid color background and a contact form, Easily add subscribe and contact forms without any server-side integration.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <span class="list-group-icon"><span class="etl-icon icon-phone mbr-iconfont-company-contacts3"></span></span> <span class="list-group-text">080-9148749190</span> </li>
                    <li class="list-group-item active"> <span class="list-group-icon"><span class="etl-icon icon-envelope mbr-iconfont-company-contacts3"></span></span> <span class="list-group-text"><a href="mailto:support@flipkoins.com">support@flipkoins.com</a></span> </li>
                </ul>
            </div>
        </div>
        <div class="mbr-footer-content col-xs-12 col-md-6 col-lg-3">
            <h4>Categories</h4>
            <ul>
                <li>Electronic Gadgets</li>
                <li><a class="text-white" href="#">A</a>mazon Products</li>
                <li><a class="text-white" href="#">F</a>lipkart Products</li>
                <li><a class="text-white" href="#">F</a>ashion &amp; &nbsp;Lifestyle</li>
                <li>&nbsp;Household Products</li>
            </ul>
        </div>
        <div class="mbr-footer-content col-xs-12 col-md-6 col-lg-3">
            <p><strong>Contacts</strong>
                <br>Email: support@flipkoins.com
                <br>Phone: +1 (0) 000 0000 001
                <br>Fax: +1 (0) 000 0000 002
                <br>
                <br>
                <br><strong>Address</strong>
                <br>1234 Street Name
                <br>City, AA 99999</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3" data-form-type="formoid">
            <div data-form-alert="true">
                <div hidden="" data-form-alert-success="true">Thanks for contacting us! We will get back to you with in 24 hours</div>
            </div>
            <form action="https://flipkoins.com/" method="post" data-form-title="MESSAGE">
                <input type="hidden" value="jt+E+VvBX6E1gOPdqT9FgHGJHhpgCtE1BTm4yyKVIrnctqyGByD10eNIoSQNH/sWkS94b7p1vXv4V+suKpsVLEJynuw0rOnbvWiAtllkkRupRnZNouTf8VjSxk2UY16v" data-form-email="true">
                <div class="form-group">
                    <label class="form-control-label" for="contacts3-9-name">Name<span class="form-asterisk">*</span></label>
                    <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" id="contacts3-9-name">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="contacts3-9-email">Your Email<span class="form-asterisk">*</span></label>
                    <input type="email" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" id="contacts3-9-email">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="contacts3-9-phone">Mobile Number<span class="form-asterisk">*</span></label>
                    <input type="tel" class="form-control input-sm input-inverse" name="phone" data-form-field="Phone" id="contacts3-9-phone">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="contacts3-9-message">Your Message</label>
                    <textarea class="form-control input-sm input-inverse" name="message" data-form-field="Message" rows="5" id="contacts3-9-message"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-sm btn-black">Contact us</button>
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-b" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2016 FILPKOINS.</p>
    </div>
</footer>