<section id="menu-6">
    <nav class="navbar navbar-dropdown bg-color {% if app.request.attributes.get('_route') == 'homepage' or app.request.attributes.get('_route') == 'deal' %} transparent {% endif %} navbar-fixed-top">
        <div class="container">
            <div class="mbr-table">
                <div class="mbr-table-cell">
                    <div class="navbar-brand">
                        <a href="{{ path('homepage') }}" class="navbar-logo"><img src="{{ asset('build/images/logo-345x128.png') }}" alt="flipkoins"></a>
                        <a class="navbar-caption" href="https://flipkoins.com"></a>
                    </div>
                </div>
                <div class="mbr-table-cell">
                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>
                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                        <li class="nav-item nav-btn">
                            <a class="nav-link btn collect-coins-btn" href="https://flipkoins.com/">COLLECT COINS</a>
                        </li>
                        <li class="nav-item coin-count-li nav-btn">
                            <a class="nav-link btn coins-count-btn" href="https://flipkoins.com/">
                                <img src="{{ asset('build/images/coins.png') }}" class=" ">46543</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown open">
                                <a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="#" aria-expanded="true">Hello {{ app.user.firstname }}&nbsp;</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">MY ACCOUNT</a>
                                    <a class="dropdown-item" href="#">COINS EARNED</a>
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown-submenu" href="https://flipkoins.com/" aria-expanded="false">SOCIALISE</a>
                                        <div class="dropdown-menu dropdown-submenu">
                                            <a class="dropdown-item" href="#">
                                                <span class="socicon socicon-facebook mbr-iconfont mbr-iconfont-btn"></span>facebook</a>
                                            <a class="dropdown-item" href="#">
                                                <span class="socicon socicon-twitter mbr-iconfont mbr-iconfont-btn"></span>twitter<br></a>
                                            <a class="dropdown-item" href="#"><span class="socicon socicon-google mbr-iconfont mbr-iconfont-btn"></span>Google&nbsp;</a>
                                            <a class="dropdown-item" href="#"><span class="socicon socicon-linkedin mbr-iconfont mbr-iconfont-btn"></span>linkedin&nbsp;</a>
                                        </div>
                                    </div><a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">LOG OUT</a></div>
                            </li>
                            <li class="nav-item profile-pic-li">
                                <a class="nav-link link profile-pic-a" href="#">
                                    <img src="{{ asset('build/images/profile-pic.jpg') }}" class="my-acc-pic-header">
                                </a>
                            </li>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">
                                <i class="fa fa-user" aria-hidden="true"></i> LOG IN /
                            </a>
                            <a href="{{ path('fos_user_registration_register') }}">
                                <i class="fa fa-user" aria-hidden="true"></i> Register
                            </a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</section>