.nav-dropdown {
    padding-right: 50px;
    .coin-count-li {
        padding-right: 55px;
        .coins-count-btn {
            background-color: #90a878;
            color: #fff;
            padding: 5px 10px !important;
            border-radius: 5px !important;
            font-size: 15px !important;
            border: 1px solid #222;
            img {
                width: 30px;
                margin-left: 5px;
            }
            &:hover {
                background-color: #c0a375 !important;
                color: #222;
            }
        }
    }
    .collect-coins-btn {
        background-color: #fff;
        color: #222;
        padding: 9px 10px !important;
        border-radius: 5px !important;
        font-size: 15px !important;
        border: 1px solid #222;
        &:hover {
            background-color: #c0a375 !important;
            color: #fff;
        }
    }
    .profile-pic-li {
        .profile-pic-a {
            margin: 0px !important;
            .my-acc-pic-header {
                width: 45px;
                border-radius: 5px;
            }
        }
    }
}

.mbr-cards-col {
    padding: 80px 0px;
}

@media (min-width: 544px) {
    .mbr-cards-col {
        padding: 40px 0px !important
    }
}

#sign-up-form {
    margin-top: 90px;
    .sign-up-heading {
        margin-bottom: 40px;
    }
    .vertical-border {
        border-right: 1px solid rgba(40, 40, 40, 0.2);
    }
    .social-sign-up {
        .social-sign-up-row {
            margin-top: 30px;
            padding-top: 10px;
            background-color: #c0a375;
            padding-bottom: 10px;
            border-radius: 8px;
            a {
                border-color: rgba(40, 40, 40, 1);
                &:hover {
                    color: rgba(255, 255, 255, 1);
                    border-color: rgba(255, 255, 255, 1);
                }
            }
        }
        .social-text {
            padding-left: 40px;
        }
        i {
            &:hover {
                color: rgba(255, 255, 255, 1);
            }
            color: rgba(40, 40, 40, 1);
            padding-left: 10px;
        }
    }
}