<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block meta_data %}
        <meta name="dailymotion-domain-verification" content="dmonet8m96bz9rfpi" />
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="shortcut icon" href="{{ asset('build/images/coins.png')}}" type="image/x-icon">
    {% block javascripts %}

    {% endblock %}

</head>

<body class="rtl">
{% block header %}

{% endblock %}

{% block nav_menu %}

{% endblock %}

{% block slider %}

{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
{% endblock %}


{% block footer_js %}
{% endblock %}


{% block ga_code %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76876309-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}

</body>

</html>
