{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <meta name="description" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    {#https://github.com/Mobirise/Free-Bootstrap-Template#}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/material-design/css/material.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/web/assets/mobirise-icons/mobirise-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/tether/tether.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/bootstrap/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/dropdown/css/style.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/animate/animate.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/socicon/css/styles.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/theme/css/style.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/progressbar/style.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/theme/css/style-rtl.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/mobirise/css/mbr-additional.css')}}" type="text/css">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block header %}
    {% include 'default/header.html.twig'%}
{% endblock %}

{% block footer %}
    {% include 'default/footer.html.twig'%}
{% endblock %}

{% block infobar %}

{% endblock %}


{% block footer_js %}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/tether/tether.min.js')}}"></script>
    <script src="{{ asset('build/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('build/smooth-scroll/smooth-scroll.js')}}"></script>
    <script src="{{ asset('build/dropdown/js/script.min.js')}}"></script>
    <script src="{{ asset('build/touch-swipe/jquery.touch-swipe.min.js')}}"></script>
    <script src="{{ asset('build/viewport-checker/jquery.viewportchecker.js')}}"></script>
    <script src="{{ asset('build/carousel/bootstrap-carousel-swipe.js')}}"></script>
    <script src="{{ asset('build/player/jquery.mb.ytplayer.min.js')}}"></script>
    <script src="{{ asset('build/jarallax/jarallax.js')}}"></script>
    <script src="{{ asset('build/theme/js/script.js')}}"></script>
    <script src="{{ asset('build/mobirise-slider-video/script.js')}}"></script>
    <script src="{{ asset('build/formoid/formoid.min.js')}}"></script>
    <script src="{{ asset('build/progressbar/progressbar.js')}}"></script>
    <input name="animation" type="hidden">
    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon"></i></a></div>
{% endblock %}